<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sketch Canvas</title>
  <link rel="icon" type="image/png" href="/favicon.png">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <meta name="description" content="Sketch Canvas, an MIT Project">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-favicon.png">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=DM+Sans:Thin,Extra-Light,Light,Regular,Medium,Semibold,Bold" rel="stylesheet" >
  <link rel="blank-img" href="https://i.ya-webdesign.com/images/blank-png-1.png">
</head>
  

<!-- NAVIGATION BAR -->
<navigation id="nav">
  <div id="nav-left">
    <p id="title">Sketch Canvas</p> 
  </div> 

  <div id="nav-middle">
    <br>
    <span onclick="switchLeft()" style="cursor: pointer;">&lt;</span> 
    <span id="option-name"> Prediction </span>
    <span onclick="switchRight()" style="cursor: pointer;">&gt;</span> 
  </div> 

  <div id="nav-right">
    <a href="#top" class="menu-item menu-hover">
      <p>Home</p>
    </a>
    <a href="#about" class="menu-item menu-hover">
      <p>About</p>
    </a>
    <a href="#contact" class="menu-item menu-hover">
      <p>Contact</p>
    </a>
  </div> 
</navigation>



<div id="top"></div>
<!-- MAIN CONTENT -->
<body id="home" onload="init()" class="loading-cursorXXXXX">

  <div id="main-container">
    <div id="loading-div" class="loading-div">
      <!-- <p id="test-text">.. ...</p> -->
    </div>
    
    
    <!-- PANELS -->
    <!-- <div id="option0" w3-include-HTML="/static/include/prediction.html" class="invisible-template visible-template"></div>
    <div id="option1" w3-include-HTML="/static/include/interpolation.html" class="invisible-template"></div> -->
    
    <div id="option0" class="invisible-template visible-template">
      <div id="canvas-container">
        <!-- <p>prediction template</p> -->
        <div id="canvas-box">
            <canvas id="myCanvas" class="canvas" width="360" height="360"></canvas>
            <div id="button-box">
              <button class="button canvas-btn" id="predictBtn" onclick="VAEpredict()">Predict</button>
              <button class="button canvas-btn" id="clearBtn" onclick="erase()">Clear</button>
            </div>
        </div>
          
        <div id="gap-box">
            <p style="color:white; font-size: 33px;">
              <!-- ⮕ <br><br><br><br><br>⮕ <br><br><br><br> -->
            </p>
        </div>
          
        <div id="plot-container">   
            <!-- PARALLEL PLOT COORDINATES -->    
            <div id="plot"></div>
            
            <style>
              .axis {
                opacity: 0.4;
              }
              .axis:hover {
                opacity: 1;
              }
            </style>
            <!-- INTERACTIVE PARALLEL PLOT COORDINATES -->      
            <div id="plot2">
              <input type="range" min="-2.000" max="2.000" value="0.000" step='.01' class="slider" id="slider1">
              <input type="range" min="-2.000" max="2.000" value="0.000" step='.01' class="slider" id="slider2">
              <input type="range" min="-2.000" max="2.000" value="0.000" step='.01' class="slider" id="slider3">
              <input type="range" min="-2.000" max="2.000" value="0.000" step='.01' class="slider" id="slider4">
              <input type="range" min="-2.000" max="2.000" value="0.000" step='.01' class="slider" id="slider5">
              <input type="range" min="-2.000" max="2.000" value="0.000" step='.01' class="slider" id="slider6">
              <input type="range" min="-2.000" max="2.000" value="0.000" step='.01' class="slider" id="slider7">
              <input type="range" min="-2.000" max="2.000" value="0.000" step='.01' class="slider" id="slider8">
              <input type="range" min="-2.000" max="2.000" value="0.000" step='.01' class="slider" id="slider9">
              <div id="plot2-text">
                <p id="sliderValue1" class="slider-text">0</p>
                <p id="sliderValue2" class="slider-text">0</p>
                <p id="sliderValue3" class="slider-text">0</p>
                <p id="sliderValue4" class="slider-text">0</p>
                <p id="sliderValue5" class="slider-text">0</p>
                <p id="sliderValue6" class="slider-text">0</p>
                <p id="sliderValue7" class="slider-text">0</p>
                <p id="sliderValue8" class="slider-text">0</p>
                <p id="sliderValue9" class="slider-text">0</p>
              </div>           
            </div>
            <div id="button-box">
              <button class="button" id="clearBtn" style="width: 168px;" onclick="sliderPredict()">Predict</button>
                        
              <button class="button" id="predictBtn" style="width: 168px;" onclick="resetSliders()">Reset</button>
            </div>
        </div>
          
        <div id="gap-box">
            <p style="color:white; font-size: 33px;">
              <!-- ⮕ <br><br><br><br> -->
            </p>
        </div>
    
        <div id="canvas-box">
            <canvas id="predCanvas" class="canvas" width="360" height="360"></canvas>
            <!-- <p id="cnn-text-main" class="cnn-text-main">0.00</p> -->
    
            <div id="button-box">
              <p class="notbutton" style="width: 100%;">
                <span style="color:rgba(255, 255, 255, 0); font-weight: 600;">. </span>
                <!-- <span id="prediction" style="color:black; font-weight: 500; font-size: 20px;"> </span> -->
              </p>
            </div>
        </div>
      </div>
    </div>

    
    <!-- INTERPOLATION PANEL -->
    <div id="option1" class="invisible-template">    
      <!-- <div id="slideout">
        <div id="canvas-box">
          <canvas id="interpolationCanvas" class="canvas" width="360" height="360"></canvas>
          <div id="button-box">
            <button class="button canvas-btn" id="predictBtn" onclick="VAEpredict()">Predict</button>
            <button class="button canvas-btn" id="clearBtn" onclick="erase()">Clear</button>
          </div>
        </div>

      </div> -->
      
      <div style="text-align: center;">   
        <div id="int-container">           
              <img id="int0" class="saved">
              <img id="int1" class="saved">
              <img id="int2" class="saved">
              <img id="int3" class="saved invisible">
              <img id="int4" class="saved invisible">
              <img id="int5" class="saved invisible">
              <img id="int6" class="saved invisible">
              <img id="int7" class="saved invisible">
              <img id="int8" class="saved invisible">

              <canvas id="transferCanvas" class="canvas int-canvas" width="72" height="72" style="display: none;"></canvas>
        </div>
      </div>
      <div style="text-align: center;">   
        <button class="button canvas-btn" id="" onclick="interpolationRequest()">interpolate</button><br><br>
        <input type="range" min="1" max="4" value="3" step='1' class="" id="int-slider"><br>
        <p id="intSliderValue" class="slider-text">3</p>
      </div>
    </div>
    
    <div id="images-container">
        <div id="single-image-container">
          <img id="saved0" class="saved activeSaved activeSavedint" onclick=activeSaved(0)>
          <p id="saved-cnn0" class="cnn-text">0.00</p>
        </div>
        <div id="single-image-container">
          <img id="saved1" class="saved activeSavedint" onclick=activeSaved(1)>
          <p id="saved-cnn1" class="cnn-text">0.00</p>
        </div>
        <div id="single-image-container">
          <img id="saved2" class="saved" onclick=activeSaved(2)>
          <p id="saved-cnn2" class="cnn-text">0.00</p>
        </div>
        <div id="single-image-container">
          <img id="saved3" class="saved" onclick=activeSaved(3)>
          <p id="saved-cnn3" class="cnn-text">0.00</p>
        </div>
        <div id="single-image-container">
          <img id="saved4" class="saved" onclick=activeSaved(4)>
          <p id="saved-cnn4" class="cnn-text">0.00</p>
        </div>
        <div id="single-image-container">
          <img id="saved5" class="saved" onclick=activeSaved(5)>
          <p id="saved-cnn5" class="cnn-text">0.00</p>
        </div>

        <br>
        <div style="margin-top:20px;">
            <button class="button saving-btn" id="saveBtn" onclick="savePNG()">Download Selected</button>
            <button class="button saving-btn" id="saveBtn" onclick="resetSaved()">Clear All</button>
        </div>
        <!-- <p id="cnn-values-test">[...]</p> -->

    </div>

    <!-- SCRIPTS -->
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/w3-include.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/switch.js') }}"></script>
  </div>

  <div id="main-text">
    <!-- About Section -->
    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
      <h2 class="w3-text-light-grey">What is this project about?</h2>
      <hr style="width:200px" class="w3-opacity">
      <p>Some text about this project. Lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>

      <button class="w3-button w3-light-grey w3-padding-large w3-section">
        <i class="fa fa-download"></i> Download Research Paper
      </button>


    <!-- Contact Section -->
    <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
      <h2 class="w3-text-light-grey">Contact Us</h2>
      <hr style="width:200px" class="w3-opacity">

      <div class="w3-section">
        <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Massachusetts, US</p>
        <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>
        <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>
      </div><br>
      <p>Lets get in touch. Send me a message:</p>

      <form action="/action_page.php" target="_blank">
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
        <p>
          <button class="w3-button w3-light-grey w3-padding-large" type="submit">
            <i class="fa fa-paper-plane"></i> SEND MESSAGE
          </button>
        </p>
      </form>
    <!-- End Contact Section -->
    </div>

    <!-- Footer -->
    <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    <!-- End footer -->
    </footer>

  <!-- END MAIN TEXT -->
  </div>
  
  <!-- Load d3.js -->
  <script src="https://d3js.org/d3.v4.js"></script> 
  <script src="{{ url_for('static', filename='js/parallel.js') }}"></script>


  <script>w3.includeHTML();</script>
</body>


</html>