
    <div id="canvas-container">
        <div id="canvas-box">
          <canvas id="myCanvas" class="canvas" width="360" height="360"></canvas>
          <div id="button-box">
            <button class="button" id="predictBtn" onclick="VAEpredict()">Predict</button>
            <!-- <button class="button" id="predictBtn" onclick="randomSliders()">Predict</button> -->
            <button class="button" id="clearBtn" onclick="erase()">Clear</button>
            <!-- <button class="button" id="addBtn" onclick="addSketch()">Add</button> -->
            <!-- <button class="button button3" id="clearallBtn" onclick="eraseAll()">Clear All</button> -->
            <!-- <button class="button" id="saveBtn" onclick="savePNG()">download png</button> -->
            <!-- <button class="button" id="saveBtn" onclick="saveRel()">download relVector</button> -->
          </div>
        </div>
        
        <div id="gap-box">
          <p style="color:white; font-size: 33px;">
            <!-- ⮕ <br><br><br><br><br>⮕ <br><br><br><br> -->
          </p>
        </div>
        
        <div id="plot-container">   
          <!-- PARALLEL PLOT COORDINATES -->    
          <div id="plot"></div>
          
          <style>
            .axis {
              opacity: 0.4;
            }
            .axis:hover {
              opacity: 1;
            }
          </style>
          <!-- INTERACTIVE PARALLEL PLOT COORDINATES -->      
          <div id="plot2">
            <input type="range" min="-2.000" max="2.000" value="0.000" step='.01' class="slider" id="slider1">
            <input type="range" min="-2.000" max="2.000" value="0.000" step='.01' class="slider" id="slider2">
            <input type="range" min="-2.000" max="2.000" value="0.000" step='.01' class="slider" id="slider3">
            <input type="range" min="-2.000" max="2.000" value="0.000" step='.01' class="slider" id="slider4">
            <input type="range" min="-2.000" max="2.000" value="0.000" step='.01' class="slider" id="slider5">
            <input type="range" min="-2.000" max="2.000" value="0.000" step='.01' class="slider" id="slider6">
            <input type="range" min="-2.000" max="2.000" value="0.000" step='.01' class="slider" id="slider7">
            <input type="range" min="-2.000" max="2.000" value="0.000" step='.01' class="slider" id="slider8">
            <input type="range" min="-2.000" max="2.000" value="0.000" step='.01' class="slider" id="slider9">
            <div id="plot2-text">
              <p id="sliderValue1" class="slider-text">0</p>
              <p id="sliderValue2" class="slider-text">0</p>
              <p id="sliderValue3" class="slider-text">0</p>
              <p id="sliderValue4" class="slider-text">0</p>
              <p id="sliderValue5" class="slider-text">0</p>
              <p id="sliderValue6" class="slider-text">0</p>
              <p id="sliderValue7" class="slider-text">0</p>
              <p id="sliderValue8" class="slider-text">0</p>
              <p id="sliderValue9" class="slider-text">0</p>
            </div>           
          </div>
          <div id="button-box">
            <button class="button" id="clearBtn" style="width: 168px;" onclick="sliderPredict()">Predict</button>
                      
            <button class="button" id="predictBtn" style="width: 168px;" onclick="resetSliders()">Reset</button>
          </div>
        </div>
        
        <div id="gap-box">
          <p style="color:white; font-size: 33px;">
            <!-- ⮕ <br><br><br><br> -->
          </p>
        </div>
  
        <div id="canvas-box">
          <canvas id="predCanvas" class="canvas" width="360" height="360"></canvas>
          
          <div id="button-box">
            <p class="notbutton" style="width: 100%;">
              <span style="color:black; font-weight: 600;">CNN: </span>
              <span id="prediction" style="color:black; font-weight: 500; font-size: 20px;"> </span>
            </p>
          </div>
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.5.2/dist/tf.min.js"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script src="{{ url_for('static', filename='js/w3-include.js') }}"></script>
      </div>
      
      <div id="images-container">
        <img id="saved0" class="saved" onclick=activeSaved(0)>
        <img id="saved1" class="saved" onclick=activeSaved(1)>
        <img id="saved2" class="saved" onclick=activeSaved(2)>
        <img id="saved3" class="saved" onclick=activeSaved(3)>
        <img id="saved4" class="saved" onclick=activeSaved(4)>
        <img id="saved5" class="saved" onclick=activeSaved(5)>
        <br>
        <div style="margin-top:20px;">
          <button class="button" id="saveBtn" onclick="savePNG()">Download Selected</button>
          <button class="button" id="saveBtn" onclick="resetSaved()">Clear All</button>
  
        </div>
      </div>
  